@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body {
    font-family:  Titillium Web ,sans-serif!important
}

#coins {
    padding: 50px 50px 0 30px;
    margin: auto;  
}

.nav {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #2B2B2B;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  border-bottom: solid #4E4E4E 1px;
}

.nav a {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 30px;
  height: 21px;
  text-decoration: none;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  color: #fff;
  display: inline-block;
  font-size: 17px;
}

.nav a:hover {
    border-bottom: solid #FFF 1px; 
}

td, th{
    padding: 0 15px 0 15px;
    border: 1px solid #ccc;
	text-align: left; 
	font-size: 14px;
    border-spacing: 0;
    border-spacing: 15px;
}
th{
    background-color: #f0f0f5;
    padding: 15px;
}
td{
    padding: 15px;
}

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin: auto;
    padding-right: 100px;
    text-align: left;
    border-radius: 3px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px #555; 
    
	}

.pages{
    margin: auto;
    padding: 30px 0 30px 0;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.container p{
    font-weight: 600;
}
.container p:not(:first-child) {
    padding-left: 50px;
}

.grid-container {
margin: auto;
width: 100%;
min-height: 250px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);

}

/* D3 */
.hover-line {
  stroke: #4E4E4E;
  stroke-width: 1.5px;
    
}



