*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("./fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf");
}

@font-face {
  font-family: "Neutra";
  src: url("./fonts/Neutra/neutra-text-tf-light-5871e0fe13bff.otf");
}
@font-face {
  font-family: "Neutra Bold";
  src: url("./fonts/Neutra/neutra-text-tf-bold-5871e0e1d072a.otf");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #1c1e2e; /* 1c1e2e 212529 */
}

.d3chart {
  width: 1100px;
  margin: 40px auto;
  border-radius: 5px;
}

.focus-line {
  text-decoration: line-through;
}
.D3container {
  width: 1100px;
  height: 550px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 100px;

  background-color: #2e3851;
}
.line1 {
  fill: none;
  stroke: #007bff;
  stroke-width: 2px;
}
.line2 {
  fill: none;
  stroke: #e83e8c;
  stroke-width: 2px;
}
.line3 {
  fill: none;
  stroke: #6f42c1;
  stroke-width: 2px;
}
.line4 {
  fill: none;
  stroke: #f8f9fa;
  stroke-width: 2px;
}

.axisWhite text {
  fill: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.axisWhite path {
  stroke: gray;
}

.axisWhite line {
  stroke: gray;
}

.axisY path {
  opacity: 0;
}
.axisY line {
  opacity: 0;
}
.axisY text {
  fill: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.ygrid line {
  stroke: #555;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}
.zerogrid line {
  stroke: #999;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
  stroke-dasharray: 7, 7;
}

.ygrid path {
  stroke-width: 0;
}
.zerogrid path {
  stroke-width: 0;
}

.hover-line2 {
  stroke: white;
  stroke-opacity: 0.6;
}

.d3-text {
  fill: white;
  font-size: 14px;
}
