.Home {
  width: 100%;
}

.blurMode {
  filter: blur(5px);
}
.coinsContainer {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.roundBtn {
  border: none;
  border-radius: 50%;
  background: rgb(58, 82, 145);
  background: linear-gradient(
    135deg,
    rgba(58, 82, 145, 1) 0%,
    rgba(134, 75, 254, 1) 89%
  );
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 90px;
  padding-bottom: 2px;
}

.D3Container,
.D3ContainerBlur {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 670px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 100px;

  background-color: #2e3851;
}
.D3ContainerBlur {
  filter: blur(5px);
}

@media only screen and (max-width: 1000px) {
  .coinsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    align-items: center;
    justify-items: center; /* adjusted */
  }
  .D3Container {
    width: 700px;
  }
}

@media only screen and (max-width: 500px) {
  .coinsContainer {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .D3Container {
    width: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .D3Container {
    width: 350px;
  }
}
