.Home {
  width: 100%;
}

.blurMode {
  filter: blur(5px);
}
.coinsContainer {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .coinsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    align-items: center;
    justify-items: center; /* adjusted */
  }
}

@media only screen and (max-width: 500px) {
  .coinsContainer {
    display: flex;
    flex-direction: column;
  }
}
