.btn-gray{
    padding-top: -5px;
    transform: translate(2px, 2px);
    height: 25px;
    min-width: 80px;
    font-size: 12px;
    color: $color-black;
    background-color: $color-light-gray;
    border: solid $color-dark-gray 1.5px;
    border-radius: 5px;
    font-family: 'ZCOOL QingKe HuangYou' ,sans-serif;
    font-size: 17px;

    &:hover{
        transform: translate(3px, 3px);
    }
}

.btn-dark-gray{
    height: 33px;
    min-width: 120px;
    font-family:  Titillium Web, sans-serif;
    font-size: 15px;
    color: $color-white;
    background-color: $color-dark-gray;
    border: solid $color-dark-gray 1.5px;
    border-radius: 5px;
    margin: 3px;

    &:hover{
        transform: translate(-1.5px, -1.5px);
        box-shadow: 3px 3px 10px $color-dark-gray;
    }
}
