.alertContainerRed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  margin: auto;
  background-color: rgb(255, 102, 102);
  width: fit-content;
  height: 25px;
  border-radius: 5px;
  padding: 3px 5px 7.5px 5px;
}
.alertTextGray {
  font-style: italic;
  font-size: 1.4rem;
  color: #555;
}
.alertTextWhite {
  font-style: italic;
  font-size: 1.4rem;
  color: #fff;
}
