.d3chart {
  width: 1100px;
  margin: 40px auto;
  border-radius: 5px;
  height: 650px;
}
@media only screen and (max-width: 1000px) {
  .d3chart {
    width: 700px;
  }
}

@media only screen and (max-width: 700px) {
  .d3chart {
    width: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .d3chart {
    width: 350px;
  }
}
