.CoinItem {
  width: 230px;
  height: 180px;
  border-radius: 10px;
  margin: 30px;
  background: rgb(58, 82, 145);
  background: linear-gradient(
    135deg,
    rgba(58, 82, 145, 1) 0%,
    rgba(46, 56, 81, 1) 89%
  );
}
.coinHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.coinTitle {
  display: flex;
  align-items: baseline;
}
.actionsContainer {
  display: flex;
  align-items: baseline;
}
.title {
  font-family: "Barlow Condensed Bold", sans-serif;
  font-size: 1.9rem;
  color: #ccffff;
  margin: 10px 5px 10px 10px;
}
.symbol {
  font-family: "Barlow Condensed Bold", sans-serif;
  font-size: 1.2rem;
  color: #ccffff;
}

.coinInfo {
  font-size: 1.6rem;
  color: #ccffff;
  font-family: "Barlow Condensed";
  font-weight: 400;
  margin: 15px 10px 0 10px;
}
.priceContainer {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.greenChange {
  font-size: 1.2rem;
  color: rgb(140, 255, 94);
  margin-left: 3px;
}
.redChange {
  font-size: 1.2rem;
  color: rgb(245, 101, 76);
  margin-left: 3px;
}

.CoinItem input {
  height: 15px;
  margin: 11.5px;
  width: 150px;
  border-radius: 20px;
  border: 0;
  padding: 10px;
  font-size: 1.1rem;
}

.btnMain {
  background-color: rgb(63, 224, 127);
  width: 50px;
  height: 20px;
  padding-top: 3.5px;
  font-family: "Poppins";
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgb(33, 43, 66);
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.btnMain:active {
  box-shadow: 0;
}

.btnMain:active {
  box-shadow: 0 0 #ccc;
}
@media only screen and (max-width: 1000px) {
  .CoinItem {
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .CoinItem {
    margin: 30px 0 0 0;
  }
}
