#coins {
    padding: 50px 50px 0 30px;
    margin: auto;  
}

td, th{
    padding: 0 15px 0 15px;
    border: 1px solid $color-light-gray;
	text-align: left; 
	font-size: 14px;
    border-spacing: 0;
    border-spacing: 15px;
}

th{
    background-color: $color-light-table;
    padding: 15px;

    i:hover{
        transform: translate(1px, -1px);
        text-decoration: underline;
    }
}

td{
    padding: 15px;
}

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin: auto;
    padding-right: 100px;
    text-align: left;
    border-radius: 3px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px $color-dark-gray; 
    
}

.pages{
    margin: auto;
    padding: 30px 0 30px 0;
    text-align: center;

    a{
        text-decoration: none;
        color: $color-blue-hover;
        padding: 0 15px 0 15px;
    }
}

.focus2{ 
  background-color: $color-dark-blue;
  color: $color-light-blue !important;
}